body{
    background-color:#151415;
  }
  img{
    height:25px;
  }
  
  .netflix-logo{
   margin-top:25px;
  }
  
  header {
    max-width:92%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:100px;
  }
  
  .list-profile{
    margin:auto;
	  display:table;
  }
  
  .list-profile-title{
    font-size: 3em;
    word-spacing: 5px;
    text-align:center;
    color:#fff;
    font-family:sans-serif;
    font-weight: normal;
    margin-bottom: 40px;
  }
  
  .profile{
    width:150px;
    height:150px;
    background-color:#fff;
    border-radius:10px; 
    border: 2px solid #151415 ;
    }
  
  p{
    color: #fff;
    font-family:sans-serif;
  }
  
  .card{
    text-align:center;
    display:inline-block;
  }
  .card + .card {
    margin-left:15px;
  }

.profile-img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.profile:hover{
    border: 2px solid #fff;
    border-radius: 5px;
}

button {
    margin-top: 40px;
    color: gray;
    background-color: #151415;
    border: 2px solid gray;
    width: 150px;
    height: 40px;
}

.profile-button{
    margin:auto;
	display:table;
}

button:hover{
    border: 2px solid #fff;
    color: #fff;
}

@media screen and (max-width:520px) {

   .card{
     display: table;
     margin: auto;
   }
  
   .card + .card {
    margin-left: auto;
  }
  
  }